{
    "http://www.okzy.co/": {
        "label":"okzy",
        "mode":1,
        "useful_url": "detail",
        "nextpage":"?m=vod-index-pg-%d.html",
        "nextpagelabel":"//a[@class='pagelink_a']",
        "target_xpath": {
            "name":"//div[@class='vodh']//h2",
            "img":"//img[@class='lazy']/attribute::src",
            "jishu":"//div[@class='vodh']//span",
            "othername":"//div[@class='vodinfobox']//li[1]//span",
            "director":"//div[@class='vodinfobox']//li[2]//span",
            "actor":"//div[@class='vodinfobox']//li[3]//span",
            "genre":"//div[@class='vodinfobox']//li[4]//span",
            "region":"//li[@class='sm'][1]//span",
            "language":"//li[@class='sm'][2]//span",
            "screen":"//li[@class='sm'][3]//span",
            "mlen":"//li[@class='sm'][4]//span",
            "updatet":"//li[@class='sm'][5]//span",
            "clicknum":"//li[@class='sm'][6]//span",
            "todayclicknum":"//li[@class='sm'][7]//span",
            "score":"//li[@class='sm'][8]//span",
            "scorenum":"//li[@class='sm'][9]//span",
            "introduction": "//div[@class='vodplayinfo'][1]",
            "yun1": "//div[@id='1']//li",
            "m3u8": "//div[@id='2']//li",
            "download": "//div[@id='down_1']//li"
        }
    },
    "http://www.zuidazy5.com/": {
        "label":"zuidazy",
        "mode":1,
        "useful_url": "detail",
        "nextpage":"?m=vod-index-pg-%d.html",
        "nextpagelabel":"//a[@class='pagelink_a']",
        "target_xpath": {
            "name":"//div[@class='vodh']//h2",
            "img":"//img[@class='lazy']/attribute::src",
            "jishu":"//div[@class='vodh']//span",
            "othername":"//div[@class='vodinfobox']//li[1]//span",
            "director":"//div[@class='vodinfobox']//li[2]//span",
            "actor":"//div[@class='vodinfobox']//li[3]//span",
            "genre":"//div[@class='vodinfobox']//li[4]//span",
            "region":"//li[@class='sm'][1]//span",
            "language":"//li[@class='sm'][2]//span",
            "screen":"//li[@class='sm'][3]//span",
            "mlen":"//li[@class='sm'][4]//span",
            "updatet":"//li[@class='sm'][5]//span",
            "clicknum":"//li[@class='sm'][6]//span",
            "todayclicknum":"//li[@class='sm'][7]//span",
            "score":"//li[@class='sm'][8]//span",
            "scorenum":"//li[@class='sm'][9]//span",
            "introduction": "//div[@class='vodplayinfo'][1]",
            "yun1": "//div[@id='play_2']//li",
            "m3u8": "//div[@id='play_1']//li",
            "download": "//div[@id='down_1']//li"
        }
    },
    "http://wolongzy.net/": {
        "label":"wolong",
        "mode":2,
        "useful_url": "detail",
        "nextpage":"?page=%d",
        "nextpagelabel":"//ol[@class='pagination']//a",
        "target_xpath": {
            "api":"https://cj.wlzy.tv/api/ffs/vod/",
            "p": "%d",
            "m3u8": "//div[@id='play_1']//li",
            "download": "//div[@id='down_1']//li"
        }
    },
    "https://www.rrzyw.cc/": {
        "label":"rrzy",
        "useful_url": "detail",
        "nextpage":"index.php/index/index/page/%d.html",
        "target_xpath": {
            "name":"//div[@class='stui-content__detail']//h1",
            "img":"//img[@class='img-responsive']/attribute::src",
            "updatet":"//span[@class='text-red hidden-xs']",
            "m3u8": "//div[@id='playlist']//li//span",
            "download": "//div[@id='down_1']//li"
        }
    }

}